<<<<<<< HEAD
<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
<p><label for="name">Name: </label></p>
<p><input type = "text" name ="name" id ="name"></p>
<p><label for="email">Email: </label></p>
<p><input type = "text" name ="email" id ="email"></p>
<p><label for="email">Password: </label></p>
<p><input type = "password" name ="password" id ="password"></p>
<p><input type="submit" value="Sign Up" id="submit"></p>
</form>
=======
<h1>sign up below:</h1>

<form action='/registrations' method="POST">
  <label>name</label>
  <br/>
  <input type="text" name="name">
  <label>email</label>
  <br/>
  <input type="text" name="email">
  <br/>
  <label>password</label>
  <br/>
  <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>


>>>>>>> ba35a90ce267e2db11dad59165cf7b570a4eadd1
